In [1]:
f=open("/content/emp.csv","r")
contents=f.read()
print(contents)

1,Gayatri,Manager,1000000000
2,Anant,Sr.Manager,950000
3,Rushikesh,Manager,80000000
4,Nilesh,Sr.Manager,9500000
5,Mahesh,Supervisor,5000000

In [4]:
f=open("/content/emp.csv","r")
contents=f.read()
lines=contents.split("\n")
eid=[];nm=[];desgn=[];sal=[];
for l in lines:
  words=l.split(",")
  print(words)
  eid.append(int(words[0]))
  nm.append(words[1])
  desgn.append(words[2])
  sal.append(int(words[3]))
  print("Employee Ids:",eid)
  print("Employee Names:",nm)
  print("Employee Designations:",desgn)
  print("Employee Salary:",sal)
  #Max Salary
  print("Maximum Salary:",max(sal))
  #Min Salary
  print("Minimum Salary:",min(sal))
  #Average Salary
  print("Average Salary:",sum(sal)/len(sal))
  #Total Salary
  print("Total Salary:",sum(sal))
  #Employee whose Salary is maximum
  print("Employee Name whose salary is maximum",nm[sal.index(max(sal))])
  #Employee whose Designation is Manager
  print("Employee Name whose designation is manager",end="")
  for i in range(len(desgn)):
    if desgn[i]=="Manager" or desgn[i]=="manager":
      print(nm[i],end="")
  #Employee whose salary is 1000000000
  print("Employee Name whose salary is 1000000000 :",nm[sal.index(1000000000)])
  #Employee whose salary is minimum
  print("\nEmployee Name whose salary is minimum:",nm[sal.index(min(sal))])
  #Employee whose Designarion is sr.Manager
  print("\nEmployee Name whose designation is Sr.Manager",end="")
  for l in range(len(desgn)):
    if desgn[i]=="Sr.Manager" or desgn[i]=="Sr.msnager":
      print(nm[i],end="")
  f=0
  #Employee whose salary is 80000000
  for i in range(len(sal)):
    if sal[i]==80000000:
      print("\nEmployee Name whose salary is 80000000:",nm[i])
      f=l
    if(f==0):
      print("\nNo any Employee present whose salary i`s 80000000:",nm[i])

['1', 'Gayatri', 'Manager', '1000000000']
Employee Ids: [1]
Employee Names: ['Gayatri']
Employee Designations: ['Manager']
Employee Salary: [1000000000]
Maximum Salary: 1000000000
Minimum Salary: 1000000000
Average Salary: 1000000000.0
Total Salary: 1000000000
Employee Name whose salary is maximum Gayatri
Employee Name whose designation is managerGayatriEmployee Name whose salary is 1000000000 : Gayatri

Employee Name whose salary is minimum: Gayatri

Employee Name whose designation is Sr.Manager
No any Employee present whose salary i`s 80000000: Gayatri
['2', 'Anant', 'Sr.Manager', '950000']
Employee Ids: [1, 2]
Employee Names: ['Gayatri', 'Anant']
Employee Designations: ['Manager', 'Sr.Manager']
Employee Salary: [1000000000, 950000]
Maximum Salary: 1000000000
Minimum Salary: 950000
Average Salary: 500475000.0
Total Salary: 1000950000
Employee Name whose salary is maximum Gayatri
Employee Name whose designation is managerGayatriEmployee Name whose salary is 1000000000 : Gayatri

Employee Name whose salary is minimum: Anant

Employee Name whose designation is Sr.ManagerAnantAnant
No any Employee present whose salary i`s 80000000: Gayatri

No any Employee present whose salary i`s 80000000: Anant
['3', 'Rushikesh', 'Manager', '80000000']
Employee Ids: [1, 2, 3]
Employee Names: ['Gayatri', 'Anant', 'Rushikesh']
Employee Designations: ['Manager', 'Sr.Manager', 'Manager']
Employee Salary: [1000000000, 950000, 80000000]
Maximum Salary: 1000000000
Minimum Salary: 950000
Average Salary: 360316666.6666667
Total Salary: 1080950000
Employee Name whose salary is maximum Gayatri
Employee Name whose designation is managerGayatriRushikeshEmployee Name whose salary is 1000000000 : Gayatri

Employee Name whose salary is minimum: Anant

Employee Name whose designation is Sr.Manager
No any Employee present whose salary i`s 80000000: Gayatri

No any Employee present whose salary i`s 80000000: Anant

Employee Name whose salary is 80000000: Rushikesh
['4', 'Nilesh', 'Sr.Manager', '9500000']
Employee Ids: [1, 2, 3, 4]
Employee Names: ['Gayatri', 'Anant', 'Rushikesh', 'Nilesh']
Employee Designations: ['Manager', 'Sr.Manager', 'Manager', 'Sr.Manager']
Employee Salary: [1000000000, 950000, 80000000, 9500000]
Maximum Salary: 1000000000
Minimum Salary: 950000
Average Salary: 272612500.0
Total Salary: 1090450000
Employee Name whose salary is maximum Gayatri
Employee Name whose designation is managerGayatriRushikeshEmployee Name whose salary is 1000000000 : Gayatri

Employee Name whose salary is minimum: Anant

Employee Name whose designation is Sr.ManagerNileshNileshNileshNilesh
No any Employee present whose salary i`s 80000000: Gayatri

No any Employee present whose salary i`s 80000000: Anant

Employee Name whose salary is 80000000: Rushikesh
['5', 'Mahesh', 'Supervisor', '5000000']
Employee Ids: [1, 2, 3, 4, 5]
Employee Names: ['Gayatri', 'Anant', 'Rushikesh', 'Nilesh', 'Mahesh']
Employee Designations: ['Manager', 'Sr.Manager', 'Manager', 'Sr.Manager', 'Supervisor']
Employee Salary: [1000000000, 950000, 80000000, 9500000, 5000000]
Maximum Salary: 1000000000
Minimum Salary: 950000
Average Salary: 219090000.0
Total Salary: 1095450000
Employee Name whose salary is maximum Gayatri
Employee Name whose designation is managerGayatriRushikeshEmployee Name whose salary is 1000000000 : Gayatri

Employee Name whose salary is minimum: Anant

Employee Name whose designation is Sr.Manager
No any Employee present whose salary i`s 80000000: Gayatri

No any Employee present whose salary i`s 80000000: Anant

Employee Name whose salary is 80000000: Rushikesh